mixin card(data)

 .card(style="background-image:url("+ data.background + ")" data-name=data.name)
  .card__header
    .card__icon(class="icon-"+ data.icon)
    h2.card__title=data.name
  p.card__description=data.text
  .card__cta
   a.link(href="/" + data.name + ".html")=data.linkText
   p.card__text
     |!{data.info} 
  +bar() 