mixin hero(hero, menu)
 .hero(data-name=hero.name)
  nav.hero__navigation
   img.hero__logo(src="/images/logo.png", alt="icono heroes")
   .hero__options
    each option in menu.options
      a.hero__option(href=option.link)=option.text
    .hero__iconSearch.icon-search(src="/images/.png", alt="")
  .hero__vote
   .hero__voteinfo
    p.hero__voteOpinion Dínos tu opinión sobre
    h1.hero__voteTitle=hero.name
      span ?
    p.hero__voteText=hero.text
    a.hero__voteLink(href=hero.link)
      span.icons.icon-wikipedia
      =hero.linkText
    h3.hero__voteQuestion ¿Cuál es su voto?
   .hero__buttons
     button.hero__button.hero__buttonLike
      .icons.icon-like
     button.hero__button.hero__buttonDislike
      .icons.icon-dislike
  +bar()
